<h2>SARS Income Tax Calculator</h2>

<form [formGroup]="calculateTaxForm">
    <div class="row">
      <label for="year" class="col-md-6">Tax year</label>
      <select id=year class="col-md-6">
        <option value="2021">2021 (Mar 2020 - Feb 2021)</option>
        <option value="2020">2020 (Mar 2019 - Feb 2020)</option>
      </select>
    </div>

    <div class="row" >
      <label for="gross" class="col-md-6">Total taxable salary</label>
      <input type="text" id="gross"  class="col-md-6" value="20000" formControlName="gross"
             onkeyup="this.value=this.value.replace(/[^1234567890.]/g, '');" required/>
    </div>

    <div class="row">
      <label for="period" class="col-md-9">How often do you receive this salary?</label>
      <select  id="period"  class="col-md-3" formControlName="period" required="">
        <option value="monthly" selected>Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>
    <button class="btn-primary" type="submit" [disabled]="!calculateTaxForm.valid">Calculate</button>
</form>
